<html>

<head>
    <title>E-commerce API</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <div class="container">
        <h1>E-Commerce API</h1>
        <h3><a href="/products">List of Product</a></h3>
    </div>
</body>

</html>